.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(7px);

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 0.3rem;
        padding-left: .5rem;
        padding-right: 1rem;
        /* background-color: transparent; */
        border-radius: 1rem;

        .item {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;

            svg {
                flex-shrink: 0;
            }
        }
    }
}