.container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: sticky;
    top: 0;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 0.3rem;
        padding-left: .5rem;
        padding-right: 1rem;
        background-color: #fdfdfc;
        border-radius: 1rem;
        box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

        .item {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;

            svg {
                flex-shrink: 0;
            }
        }
    }
}