.card {
    border-radius: 1.5rem;
    /* 24px */
    background-color: #fcfcfb;
    padding: 3rem;
    /* 48px */
    box-shadow: var(--shadow-md, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1));
}