@import "tailwindcss";

:root {
  --background: #636261;
  --foreground: #030001;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #636261;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}